/* 
    Created on : Jul 5, 2014, 4:28:51 PM
    Author     : dannible
*/

@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Montserrat);

body{
    min-width: 400px;
    max-width: 1000px;
    background-color: gainsboro;
    	font-family: 'Droid Sans', sans-serif;
	font-size:14px;
}

input.txtinput{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #707070;
    padding: 10px 20px;
}


.btn {
	background-color:transparent;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #707070;
	cursor:pointer;
	color:#000000;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background-color:transparent;
}
.btn:active {
	position:relative;
	top:1px;
}


label{
    font-style: italic;
}

div.content{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

div.inputblock{
    padding: 10px 15px;
    margin-top: 10px;
    border: 1px gray dashed;
}